# MongoDB Connection
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
DB_NAME=kbase
COLLECTION_NAME=content

# Atlas API (required for Terraform integration)
ATLAS_PUBLIC_KEY=your_atlas_public_key
ATLAS_PRIVATE_KEY=your_atlas_private_key
ATLAS_PROJECT_ID=your_project_id
ATLAS_CLUSTER_NAME=your_cluster_name
